<fieldset>
  <legend>Rechnungsdaten</legend>
<table class="form">
  <tr>
    <td>Rechnungsnummer</td>
    <td><%= @invoice.number %></td>
    <td>Bestelldatum</td>
    <td><%= @invoice.order_date %></td>
  </tr>
  <tr>
    <td>Titel</td>
    <td><%= @invoice.title %></td>
    <td>Rechnungsdatum</td>
    <td><%= @invoice.billing_date %></td>
  </tr>
  <tr>
    <td>Bereits bezahlt?</td>
    <td><%= @invoice.payed %></td>
    <td>Lieferdatum</td>
    <td><%= @invoice.shipping_date %></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>Zahlungseingang</td>
    <td><%= @invoice.payment_date %></td>
  </tr>
  <tr class="fullwidth">
    <td>Zusätzlicher Text</td>
    <td colspan="3"><%= @invoice.description %></td>
  </tr>
</table>
</fieldset>

<fieldset>
  <legend>Addressen</legend>
<table class="form">
  <tr class="fullwidth">
    <td>Absender</td>
    <td><%= @invoice.sender_address.short_info %>
    <td>Empfänger</td>
    <td><%= @invoice.receiver_address.short_info %>
  </tr>
</table>
</fieldset>

<fieldset>
  <legend>Einzelposten</legend>
<table id="invoice_items" class="form">
  <tr>
    <th width="20%">Titel</th>
    <th width="50%">Beschreibung</th>
    <th width="10%">Anzahl</th>
    <th width="10%">Preis</th>
    <th width="10%">Steuersatz</th>
  </tr>
  <%= render :partial => '/items/item', :collection => @invoice.items %>
</table>
</fieldset>
