
  <h3>Rechnungsdaten</h3>
<table class="show">
  <tr>
    <th>Rechnungsnummer</th>
    <td><%= @invoice.number %></td>
    <th>Bestelldatum</th>
    <td><%= @invoice.order_date %></td>
  </tr>
  <tr>
    <th>Titel</th>
    <td><%= @invoice.title %></td>
    <th>Rechnungsdatum</th>
    <td><%= @invoice.billing_date %></td>
  </tr>
  <tr>
    <th>Bereits bezahlt?</th>
    <td><%= @invoice.payed? ? 'ja' : 'nein' %></td>
    <th>Lieferdatum</th>
    <td><%= @invoice.shipping_date %></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <th>Zahlungseingang</th>
    <td><%= @invoice.payment_date %></td>
  </tr>
  <tr class="fullwidth">
    <th>Zusätzlicher Text</th>
    <td colspan="3"><%= @invoice.description %></td>
  </tr>
</table>


<h3>Addressen</h3>
<table class="show">
  <tr class="fullwidth">
    <th>Absender</th>
    <td><%= link_to @invoice.sender_address.short_info, address_url(@invoice.sender_address_id) %>
    <th>Empfänger</th>
    <td><%= link_to @invoice.receiver_address.short_info, customer_address_url(@invoice.receiver_address.customer_id, @invoice.receiver_address_id) %>
  </tr>
</table>



  <h3>Einzelposten</h3>
<table id="invoice_items" class="show">
  <tr>
    <th width="20%">Titel</th>
    <th width="25%">Beschreibung</th>
    <th width="7%">Anzahl</th>
    <th width="7%">Preis</th>
    <th width="7%">Steuern</th>
    <th width="7%">Brutto</th>
    <th width="7%">Steuersatz</th>
  </tr>
  <%= render :partial => '/items/item', :collection => @invoice.items %>
</table>

