<tr>
  <td><%= link_to h(address.company), customer_address_url(@customerw, address) %></td>
  <td><%= h address.name %></td>
  <td><%= h address.street %> <%= h address.postcode %> <%= h address.city %> <%= h address.country %></td>
  <td><%= h address.tax_number %></td>
</tr>
