<tr id="address-<%= address.id %>" class="<%= cycle 'odd', 'even' %>">
  <td><%= link_to h(address.company), address_url(address) %></td>
  <td><%= h address.name %></td>
  <td><%= h address.street %> <%= h address.postcode %> <%= h address.city %> <%= h address.country %></td>
  <td><%= h address.tax_number %></td>
  <td><%= link_to 'bearbeiten', edit_address_url(address) %></td>
</tr>
