<fieldset>
  <legend>Adressdaten</legend>
<table class="form">
  <tr>
    <td><%= f.label :name, "Firmenname" %></td>
    <td><%= f.text_field :name %></td>
    <td><%= f.label :call_number, "Telefonnummer" %></td>
    <td><%= f.text_field :call_number %></td>    
  </tr>
  <tr>
    <td><%= f.label :title, "Anrede" %></td>
    <td><%= f.text_field :title %></td>
    <td><%= f.label :id, "Label Text" %></td>
    <td><%= f.text_field :id %></td>
    
  </tr>
  <tr>
    
  </tr>
  <tr>
    
  </tr>
  <tr>
    
  </tr>
  <tr>
    
  </tr>
</table>
</fieldset>

  t.string  "company"
  t.string  "title"
  t.string  "name"
  t.string  "street"
  t.string  "street_number"
  t.string  "postcode"
  t.string  "city"
  t.string  "country"
  t.string  "call_number"
  t.string  "fax_number"
  t.string  "email"
  t.string  "website_url"
  t.string  "tax_number"
  t.string  "account_number"
  t.string  "iban"
  t.string  "bank_name"
  t.string  "bank_number"
  t.integer "user_id",        :default => 1,     :null => false
  t.boolean "owner_by_user",  :default => false
  t.boolean "owned_by_user",  :default => false
  t.integer "customer_id"