<tr class="fullwidth" id="invoice_item_<%= item.id %>">
  <td><%= item.title %></td>
  <td><%= item.description %></td>
  <td><%= item.amount %></td>
  <td><%= item.price %></td>
  <td><%= item.tax %></td>
</tr>